.compound-graph-page {
  height: 100%;
  display: flex;
}

.compound-graph-page > *:not(:last-child) {
  margin: 0px 15px 0px 0px;
}

.compound-graph-page__json,
.compound-graph-page__draw-area {
  padding: 15px;
  height: 100%;
  border: 1px solid #ccc;
  min-height: 500px;
}

.compound-graph-page__draw-area {
  flex-grow: 1;
}

.compound-graph-page__info {
  width: 200px;
}

.compound-graph-page__json {
  overflow-y: auto;
  min-width: 300px;
}

.compound-graph-page__info
  > .compound-graph-page__params__section:not(:last-child) {
  margin-bottom: 24px;
}

.compound-graph-page__params__section__header {
  margin: 0px 0px 9px 0px;
}

.compound-graph-page__params__section__body {
  padding-left: 3px;
}

@media (max-width: 800px) {
  .compound-graph-page {
    flex-direction: column;
  }

  .compound-graph-page > *:not(:last-child) {
    margin: 0px 0px 15px 0px;
  }
}

.compound-graph-page button {
  margin-top: 12px;
  width: 100%;
  height: 24px;
}
