.main {
  height: 100%;
  display: grid;
  grid-template-rows: min-content auto;
  overflow: hidden;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  border-bottom: 1px solid #ddd;
}

a.app-name {
  white-space: nowrap;
  padding: 1rem 2rem;
  display: flex;
  align-items: center;
}

a.app-name,
a.app-name:hover,
a.app-name:link,
a.app-name:visited {
  color: rgba(0, 0, 0, 0.85);
  text-decoration: none;
}

a.app-name > img {
  margin-right: 0.75rem;
  width: 2rem;
  height: 2rem;
}

.content {
  padding: 1.25rem;
  overflow: auto;
}
