.main {
  height: 100%;
  display: grid;
  grid-template-rows: min-content auto;
  overflow: hidden;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  border-bottom: 1px solid #ddd;
}

.header > .app-name {
  white-space: nowrap;
  padding: 1rem;
}

.content {
  padding: 1.25rem;
  overflow: auto;
}
